@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.logo-bio {
    position: absolute;
}

.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: -0px;
    padding-left: 70px;
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    animation-name: myanimation;
    border-radius: 20%;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-delay: 1s;
    animation-direction: alternate;
}

.bio-cover {
    position: relative;
    padding-top: 150px;
    left: 425px;
    right: 0;
    width: 600px;
    height: 1000px;
    animation-name: myanimation;
    border-radius: 20%;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-delay: 1s;
    animation-direction: alternate;
}

@media screen and (max-width: 375px) {
    .bio-cover {
        opacity: 1;
        width: auto;
        height: auto;
        float: right;
        border-radius: 30%;
    }
}

@keyframes myanimation {
    0% {
        background-color: rgb(255, 255, 255);
        left: 0px;
        top: 0px;
        border-radius: 0 0 0 0;
    }
    25% {
        background-color: rgb(255, 181, 9);
        left: 300px;
        top: 0px;
        border-radius: 50% 0 0 0;
    }
    50% {
        background-color: rgb(0, 0, 0);
        left: 300px;
        top: 300px;
        border-radius: 50% 50% 0 0;
    }
    75% {
        background-color: rgb(255, 255, 255);
        left: 0px;
        top: 300px;
        border-radius: 50% 50% 50% 0;
    }
    100% {
        background-color: rgb(255, 0, 0);
        left: 0px;
        top: 0px;
        border-radius: 50% 50% 50% 50%;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        padding-right: 100px;
        align-items: center;
        border-radius: 40%;
    }
}

.menu-nav .current {
    color: rgb(95, 3, 3);
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-logo {
    color: #2b2929;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
    color: rgb(95, 12, 12);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fffbfb;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
        letter-spacing: 10px;
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        position: absolute;
        width: auto;
        right: 0px;
        height: 40vh;
        top: 0vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10%;
    }
}

.logo {
    position: relative;
    padding-top: -300;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    width: 200x;
    height: 200x;
}

@media screen and (max-width:375px) {
    .logo {
        position: absolute;
        width: auto;
        height: auto;
        padding-top: 50px;
        top: 0vh;
        display: flex;
        border-radius: 50%;
    }
}

.check-out-single :hover {
    color: rgb(110, 6, 6);
}

.baby.come.on {
    position: relative;
    padding-left: 1000px;
}

.welcome-header {
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 0px;
}

h4 {
    color: #fffbfb;
    position: absolute;
    padding-top: 15px;
}

.social-links-header a {
    position: relative;
    color: #570101;
    text-align: center;
    font-size: 18px;
    padding-left: 180px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
}


/*---drop menu li background color----*/

.social-links-header :hover {
    color: rgb(214, 209, 209);
}

@media screen and (max-width:375px) {
    .social-links-header {
        opacity: 1;
        padding-left: 200px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
}


/*--
.bio-box {
    position: relative;
    text-align: center;
    min-height: 50vh;
    width: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 2px;
    border: 5px solid rgb(129, 128, 128);
}
-*/

.text p {
    color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0;
    min-height: 50vh;
    width: 85vw;
}

@media screen and (max-width:375px) {
    .text p {
        opacity: 1;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 200px;
    }
}

.title {
    padding-left: 150px;
}

h2 {
    padding-left: 150px;
}

. .email {
    outline: #747171;
}


/*---Play track----*/

.music {
    position: relative;
    padding-bottom: 50px;
    border-radius: 10px;
    background: #262626;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 800px;
    min-width: 5px;
    border-radius: 10px;
    background: rgb(39, 17, 17);
    margin: 0px auto 0;
    display: flex;
    flex-direction: row;
}

.container .box {
    position: relative;
    width: 300px;
    height: 200px;
    background: #570101;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgbox1 {
    position: relative;
    overflow: hidden;
}

.container .box .imgbox1 img {
    max-width: 100%;
    transition: 2s;
}

.container .box:hover .imgbox1 img {
    transform: scale(1.2);
}

.audioplayer {
    position: absolute;
    padding-bottom: 100px;
    width: 5px;
    height: 5px;
    left: -60px;
    right: 10px;
}

@media screen and (max-width:500px) {
    .container {
        opacity: 1;
        width: auto;
        height: 120vh;
        top: 0vh;
        background-color: #130f0f;
        display: grid;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:500px) {
    audio {
        opacity: 1;
        padding-top: -20px;
        padding-left: 50px;
        padding-bottom: -10px;
        display: inline-flex;
    }
}

@media screen and (max-width:375px) {
    .container .box {
        max-width: 62%;
        opacity: 1;
        padding: 10 0 10 100;
        background: #020101;
        flex-direction: row;
        align-items: center;
    }
}