@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* Container Div with 3 columns (audio,buy and video) */

.container {
    padding-top: 0;
    padding-bottom: 550px;
}

/* Make columns equal sized */

.column-left{ 
padding-top: 20px;
float: left; 
width: 33.333%;
}

.column-right{ 
padding-top: 90px;
float: right; 
width: 43.333%;
}

/* Clear floats after the columns */
.nav-links:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media all and (max-width: 700px) {
.column-left {width: 100%;}
.column-right {width: 100%;}
}


@media all and (max-width: 540px) {
.column-left {
  width: 75%;
  padding-top: 0;
  padding-left: 105px
  }
.column-right {
  width: 100%;
  padding-top: 0;
  padding-bottom: 20%;
  padding-left: 85px;

  }
  audio {
    width: 100%;
  }
}


@media all and (max-width: 414px) {
.column-left {
  width: 70%;
  padding-top: initial;
  padding-left: 90px
  }
.column-right {
  width: 100%;
  padding-left: 40px;
  padding-top: 0px
  }
  audio {
    width: 100%;
  }
}

@media all and (max-width: 411px) {
.column-left {
  width: 70%;
  padding-top: 0;
  padding-left: 90px
  }
.column-right {
  width: 100%;
  padding-left: 40px;
  padding-top: 10px
  }
  audio {
    width: 100%;
  }
}

@media all and (max-width: 375px) {
.column-left {
  width: 80%;
  padding-bottom: 20px;
  padding-left: 60px;
  }
.column-right {
  width: 100%;
  padding-bottom: 150px;
  padding-left: 15px;
  }
  audio {
    width: 100%;
  }
}

@media all and (max-width: 360px) {
.column-left {
  width: 80%;
  padding-bottom: 20px;
  padding-left: 60px;
  }
.column-right {
  width: 100%;
  padding-bottom: 120px;
  padding-left: 10px;
  }
  audio {
    width: 100%;
  }
}

@media all and (max-width: 320px) {
 .column-left {
  width: 80%;
  padding-bottom: 20px;
  padding-left: 60px;
  }
  
.column-right {
  width: 100%;
  padding-bottom: 120px;
  padding-left: 2px;
  }
  audio {
    width: 100%;
  }
}

@media all and (max-width: 280px) {
.column-left {
  width: 100%;
  padding-top: initial;
  padding-left: 0px
  }
.column-right {
  width: 100%;
  padding-right: 110%;
  padding-top: 0px
  }
  audio {
    width: 100%;
  }
}




.bio-cover {
    position: relative;
    padding-top: 100px;
    left: 80px;
    right: 0;
    width: 600px;
    height: 1000px;
    animation-name: myanimation;
    border-radius: 20%;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-delay: 1s;
    animation-direction: alternate;
}

.cover {
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: inherit;
    animation-name: myanimation;
    border-radius: 1%;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-delay: 1s;
    animation-direction: alternate;
}




@keyframes myanimation {
    0% {
        background-color: rgb(255, 255, 255);
        left: 0px;
        top: 0px;
        border-radius: 0 0 0 0;
    }
    25% {
        background-color: rgb(255, 181, 9);
        left: 30px;
        top: 0px;
        border-radius: 50% 0 0 0;
    }
    50% {
        background-color: rgb(0, 0, 0);
        left: 30px;
        top: 30px;
        border-radius: 50% 50% 0 0;
    }
    75% {
        background-color: rgb(255, 255, 255);
        left: 0px;
        top: 30px;
        border-radius: 50% 50% 50% 0;
    }
    100% {
        background-color: rgb(255, 0, 0);
        left: 0px;
        top: 0px;
        border-radius: 50% 50% 50% 50%;
    }
}



.copyright {
    color: #ff0000;
    text-align: center;
    font-size: 12px;
}

.logo {
    position: relative;
    padding-top: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0px;
 
    width: 100%;
    height: auto;
}


h1 {
    color: #a39f9f;
}
.title {
    color:  #a39f9f;
}

h2 {
    color: #a39f9f;
}



.check-out-single {
margin: 50px;
padding: 10px;
text-align: center;
}

.baby-come-on {
    position: relative;
    padding-left: 1000px;
}

h4 {
    color: #fffbfb;
    position: absolute;
    padding-top: 15px;
}


/*---drop menu li background color----*/

.social-links-header :hover {
    color: rgb(214, 209, 209);
}



.text p {
    color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0;
    min-height: 50vh;
    width: 85vw;
}



.title {
    padding-left: 50px;
}

h2 {
    padding-left: 50px;
}


/*---Play track----*/



.audioplayer {
    position: absolute;
    padding-bottom: 100px;
    width: 5px;
    height: 5px;
    left: -60px;
    right: 10px;
}
/*footer styling*/
.footer {
  
  padding-top: 0;
  padding-bottom: 0;
}

.footer a {
  color: #ff0000;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

.footer a:hover {
  color: white;
}





/***** Footer *****/




/* Retina-ize images/icons */

