@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0%;
    padding: 0%;
    border: none
}

.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 70px;
    width: 80%;
    height: 800%;
    display: block;
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-delay: 2;
    animation-direction: alternate;
}

@keyframes myanimation {
    0% {background-color: darkgoldenrod; left: 0px; top:0px; border-radius: 0 0 0 0;}
     25% {background-color: rgb(110, 81, 6); left: 300px; top:0px; border-radius:50% 0 0 0; }
      50% {background-color: rgb(128, 128, 15); left: 300px; top:300px; border-radius:50% 50% 0 0;}
       75% {background-color: rgb(92, 91, 88); left: 0px; top:300px; border-radius:50% 50% 50% 0;}
        100% {background-color: rgb(235, 215, 215); left: 0px; top:0px; border-radius:50% 50% 50% 50%;}
}

.logo {
    position: absolute;
    padding-left: 15px;
    background-repeat: no-repeat;
    width: 200x;
    height: 200x;
}


.check-out-single :hover {
   color: rgb(139, 102, 2);
}

.baby.come.on {
position: relative;
padding-left: 1000px;
}

.cover {
    position: relative;
    left: 80px;
    }

.welcome-header {
    background-color: rgb(199, 198, 198);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px; 
}

 .social-links-header{
    position: absolute;
    letter-spacing: 15px;
    text-emphasis-color: black;
    font-size: 18px;
    left: 35%;
    top: 0.2%;
    }

.page-menu {
    position: absolute;
    letter-spacing: 20px;
    text-emphasis-color: black;
    font-size: 20px;
    left: 90%;
    top: 1.5px;
    }

    .page-menu :hover {
        color: red;
    }
  
    .social-links-header :hover {
color: rgb(214, 209, 209);
    }
    .cta {
       position: relative;
       width: 1365px;
       height: 300px;
       margin: auto;
            }

            .box {
                position: relative;
                width: calc(520px - 100px);
                height: calc(100px - 30px);
                 float: left;
                background: #000;
                margin: 15px;
                padding: 150px;
            }
            
    @media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}